.input-container {
    position: relative;
    margin: 30px 0; /* Adjust margin as needed */
  }
  
  .input-title {
    position: absolute;
    top: -10px; /* Adjust as needed for spacing */
    left: 10px; /* Adj#ffffffs needed for spacing */
    background-color: white; /* Matches the background of the input field */
    padding: 0 5px; /* Padding for better spacing */
    font-size: 14px; /* Adjust font size as needed */
    color: #333; /* Adjust color as needed */
  }
  
  .input-element {
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners */
    padding: 10px; /* Input padding */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border in element's total width */
    outline: none; /* Remove outline on focus */
    transition: border-color 0.3s; /* Transition for focus effect */
  }
  
  .input-element:focus {
    border-color: #004b9b; /* Change border color on focus */
  }
  
  .input-error {
    border-color: #ff0000; /* Change border color on wrong input */
  }